:root {
   --color-soft-blue: 215, 51%, 70%;
   --color-cyan: 178, 100%, 50%;
   --color-white: 0, 0%, 100%;
   --color-vary-dark-blue-main: 217, 54%, 11%;
   --color-vary-dark-blue-card: 216, 50%, 16%;
   --color-vary-dark-blue-line: 215, 32%, 27%;
}